body {
  background-color: white;
}

.menu-bar {
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;

  .site-name { font-weight: bold }
  .logout-widget { margin-left: 10px; }

  .menu {
    flex-grow: 1;

    & > * { margin-left: 10px; }
  }
}

#hidden-game { display: none; }
