body {
  background-color: white;
}

.navigation-bar {
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;

  .site-name { font-weight: bold }
  .logout-widget { margin-left: 10px; }

  .menu {
    flex-grow: 1;

    & > * { margin-left: 10px; }
  }
}

.game {
  display: flex;
  flex-direction: column;

  #game {
    align-self: center;
  }
}

#hidden-game { display: none; }

@import 'app/views/sign-in.scss';
